body {
  font-size: 15px;
}

h1 {
  font-family: RobotoSlab;
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem 0;
}

h3 {
  font-family: Inter;
  font-weight: 200;
  font-style: italic;
  font-size: 1rem;
}

h4 {
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
}

p {
  font-family: Inter;
  font-weight: 300;
}

code, .monospace {
  font-family: RobotoMono;
  word-break: break-all;
}

table {
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 250;
  text-align: left;
}

th {
  font-weight: 500;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-family: Inter;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #DDD;
}

button:hover {
  background-color: #CCC;
}
