:host {
  display: none;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: #0004;

  > div {
    /* On mobile devices, modal is full screen */
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);

    @media only screen and (min-width: 700px) and (min-height: 360px) {
      width: 70%;
      height: 60vh;
      margin: 20vh auto;
      border: 2px solid #444;
      border-radius: 4px;
    }

    > div {
      height: 100%;
      padding: 16px;
      box-sizing: border-box;
    }
  }
}

:host([open]) {
  display: block;
}
