body {
  font-size: 15px;
  font-family: Inter, Helvetica;
  font-weight: 300;
  height: 100vh;
  margin: 0;
}

/* TEXT STYLES */

h1 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-weight: 200;
  font-size: 1.2rem;
  margin: 0;
}

h4 {
  font-weight: 500;
  font-size: 1rem;
  margin: auto 0;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  margin: 4px 0;
}

p, label {
  font-weight: 300;
  margin: 4px 0;
}

code,
.monospace {
  font-family: RobotoMono, monospace;
  word-break: break-word;
}

.break-all {
  word-break: break-all;
}

table {
  font-size: 0.9rem;
  text-align: left;
  border-spacing: 0 4px;
}

th {
  font-weight: 500;
}

td {
  padding: 0 4px 0 0;
}

button {
  border: none;
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
  font-family: Inter, Helvetica;
  font-size: 1em;
  text-align: center;
  color: #000;
  background-color: #0000;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    color: inherit;
    background-color: #0002;
  }

  &:disabled:hover {
    background-color: initial;
  }

  &:disabled {
    color: #666;
  }

  &.square {
    width: 24px;
    height: 24px;
    padding: 0;
    flex-shrink: 0;
  }
}

input {
  &[type="text"] {
    margin: 0;
  }

  &[type="number"] {
    margin: auto 0;
    width: 80px;
  }

  &[type="text"],
  &[type="number"] {
    border: none;
    font-family: Inter, Helvetica;
    font-weight: 300;
    font-size: 1em;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #0001;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 0.2s;

    &:hover,
    &:focus {
      background-color: #0002;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #444;
    }
  }

  &.monospace {
    font-family: RobotoMono, monospace;
  }

  &.small {
    font-size: 12px;
  }
}

select {
  margin: auto 0;
}

:focus {
  outline: none;
}

/* LAYOUT */

#page {
  height: 100vh;
  width: 100%;
}

// Mobile-first design!

#sidebar {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #0002;

  section {
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    overflow: auto;
    background-color: var(--primary-color);
  }

  div {
    display: flex;
    margin-bottom: 8px;

    h1, h4 {
      flex-grow: 1;
      margin: auto 0;
    }
  }

  &.open {
    display: block;
  }
}

#population-buttons {
  
  counter-reset: popNum;

  button {
    width: 100%;
    text-align: left;
    background-color: #fff0;
    margin: 2px 0;
    padding: 2px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;


    &::before {
      counter-increment: popNum;
      content: counter(popNum, decimal-leading-zero);
      font-family: RobotoMono, monospace;
      background-color: #fff2;
      border-radius: 4px;
      padding: 2px;
      margin-right: 8px;
    }

    /*
    &::after {
      visibility: hidden;
      content: "\2192";
      float: right;
      margin-right: 3px;
    }
    */

    &:hover {
      background-color: #fff2;

      /*
      &::after {
        visibility: visible;
      }
      */
    }
  }

  + p {
    display: none;
  }

  &:empty + p {
    display: block;
  }
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Top bar

#top {
  flex-shrink: 0;
  display: flex;
  background-color: #ddd;
  padding: 8px 12px;
}

#open-sidebar-container {
  border-right: 1px #aaa solid;
  padding-right: 8px;
  margin-right: 8px;
}

#open-sidebar {
  height: 100%;
}

#status {
  flex-grow: 1;
}

// Population pages

#population-pages {
  flex-grow: 1;
  overflow: auto;
  counter-reset: pageNum;

  section {
    counter-increment: pageNum;

    &.open .population-page {
      display: flex;
    }

    h2::before {
      content: counter(pageNum, decimal-leading-zero);
      font-family: RobotoMono, monospace;
      background-color: #eee;
      border-radius: 4px;
      padding: 2px;
      margin-right: 8px;
    }
    
    .stop-text {
      display: none;
    }

    &[data-state="running"] {
      .run-text {
        display: none;
      }
  
      .stop-text {
        display: block;
      }

      h2::before {
        background-color: #3e5;
      }
    }
  
    &[data-state="waiting"], &[data-state="configuring"], &[data-state="opening"] {
      h2::before {
        background-color: #e85;
      }
    }
  }
}

.population-page {
  display: none;
  flex-direction: column;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;

  nav {
    overflow-x: auto;
    white-space: nowrap;
    margin: 8px 0;

    button {
      border-bottom: solid 4px #fff;

      &:hover {
        border-color: var(--primary-color);
      }

      &:active, &.open {
        border-color: var(--primary-color);
      }
    }
  }
}

.sub-pages > div {
  display: none;

  &.open {
    display: block;
  }

  > div {
    margin-top: 8px;
  }
}

@media only screen and (min-width: 1000px) and (min-height: 600px) {
  .population-page nav {
    display: none;
  }
  
  .sub-pages > div {
    display: block;
    background-color: #eee;
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
  }
}

.top-bar {
  display: flex;
  flex-wrap: wrap;

  .controls {
    margin: auto 8px;
  }
  
  .current {
    margin: auto 0;
  }
}

.cipher-config td {
  text-transform: capitalize;
}

.export {
  button {
    span.success, span.failure {
      display: none;
    }

    &.success {
      background-color: #3e5;

      span.default {
        display: none;
      }
      span.success {
        display: block;
      }
    }

    &.failure {
      background-color: #e85;
      span.default {
        display: none;
      }
      span.failure {
        display: block;
      }
    }
  }
}

#close-sidebar {
  display: none;
}

@media only screen and (min-width: 500px) {
  #sidebar {
    section {
      width: 200px;
    }
  }

  #close-sidebar {
    display: block;
    &:hover {
      background-color: #0002;
    }
  }

  #population-buttons button.open {
    background-color: #fff2;
  }
}

@media only screen and (min-width: 700px) {
  #open-sidebar-container {
    display: none;
  }

  #page {
    display: flex;
  }

  #sidebar {
    display: block;
    position: static;
    width: 200px;
  }

  #close-sidebar {
    display: none;
  }

  #main {
    flex-grow: 1;
  }
}

/* MODALS */

.modal {
  display: none;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: #0004;

  &.open {
    display: block;
  }

  > div {
    /* On mobile devices, modal is full screen */
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);

    @media only screen and (min-width: 700px) and (min-height: 360px) {
      width: 70%;
      height: 60vh;
      margin: 20vh auto;
      border: 2px solid #444;
      border-radius: 4px;
    }

    > div {
      height: 100%;
      padding: 16px;
      box-sizing: border-box;
    }
  }

  /*
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: inherit;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
    &:hover {
      background: var(--secondary-color-darker);
      border-radius: 5px;
    }
  }
  */
}

#add-population-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    flex-shrink: 0;
    display: flex;

    h4 {
      flex-grow: 1;
    }
  }

  label {
    margin-right: 4px;
  }
}

#add-population-main {
  width: 100%;
  margin: 4px 0;
  box-sizing: border-box;
  overflow: auto;
  flex-grow: 1;
  border-top: 1px solid #0002;
  border-bottom: 1px solid #0002;
}

.modal-page {
  height: 100%;
  display: none;
  overflow: auto;
  padding-right: 8px;

  &.open {
    display: block;
  }

  > div {
    margin: 8px 0;
  }
}

#import-population {

  div {
    margin: 4px 0;
    display: flex;
  }

  label, button {
    flex-shrink: 0;
    margin: 0 4px;
  }

  input {
    width: 0; // Acts as a minimum width
    flex-grow: 1;
  }

}

div.data-entry {
  margin: 4px 0;
  display: flex;

  label {
    margin: 0;
    padding: 3px 0;
    width: 200px;
    flex-shrink: 1;
  }

  input[type="text"] {
    flex-grow: 1;
  }
}


#messages {
  counter-reset: messageNum;

  div {
    display: flex;
    margin: 4px 0;

    &::before {
      counter-increment: messageNum;
      content: counter(messageNum, decimal-leading-zero);
      font-family: RobotoMono, monospace;
      background-color: #0002;
      border-radius: 4px;
      padding: 2px;
      margin-right: 4px;
      font-weight: 300;
    }

    input {
      flex-grow: 1;
      width: 0;
    }

    button {
      margin-left: 4px;
    }

    p {
      font-size: 12px;
      margin: auto 0 4px 4px; // Aligns with input text 
    }
  }
}

#cipher-specific-options {
  /*
  border-left: 2px solid var(--secondary-color-darker);
  padding-left: 4px;
  */

  > div {
    display: none;

    &.chosen {
      display: block;
    }
  }
}

